html, body {
  min-width: 300px;
}

.collapsed {
  display: none;
}

.error {
  color: #c34138;
}

.success {
  color: #0B7537;
}

.float-right {
  float: right;
}

.space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input[type="submit"] {
  margin-left: auto;
  margin-bottom: 0!important;
  padding-left: 12pt;
  padding-right: 12pt;
  background-color: #C9DEC8;
}
